/*ESTILOS NAVBAR/HEADER*/
#header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 255, 0.301);
    backdrop-filter: blur(4px);
    .navBar__logo {
        width: 60px;
    }
}
